{% extends "layout.html" %}
{% block title %} Page 2{% endblock %}
{% block heading %}
Second Page
{% endblock %}

{% block body %}
<p>
Ultrices vitae auctor eu augue ut lectus arcu. In vitae turpis massa sed elementum tempus. Quam nulla porttitor massa id. Hendrerit gravida rutrum quisque non tellus. Pellentesque pulvinar pellentesque habitant morbi
tristique senectus et netus et. Phasellus faucibus scelerisque eleifend donec pretium vulputate. Consectetur purus ut faucibus pulvinar elementum. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. In iaculis nunc sed augue lacus. Cursus
vitae congue mauris rhoncus aenean vel elit. <span style="font-size:20px;font-style:italic">Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper.</span> Senectus et netus et malesuada fames ac turpis. Volutpat est velit egestas dui id. Nulla aliquet porttitor lacus luctus accumsan.
Neque sodales ut etiam sit amet nisl purus in.</p>
<p>
Dui vivamus arcu felis bibendum. Vulputate dignissim suspendisse in est ante in. Posuere morbi leo urna molestie at elementum. Tempor nec feugiat nisl pretium fusce id velit. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Dis
parturient montes nascetur ridiculus mus. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Libero justo laoreet sit amet cursus sit amet dictum sit. Ornare quam viverra orci sagittis eu volutpat. Turpis tincidunt id
aliquet risus feugiat.</p>
<p>
Lacus luctus accumsan tortor posuere ac ut. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. In vitae turpis massa sed elementum tempus. Nunc pulvinar sapien et ligula. Tortor at risus viverra adipiscing at in tellus integer. Enim
nec dui nunc mattis. Ut sem viverra aliquet eget sit amet tellus cras. Aliquam faucibus purus in massa tempor. Mauris vitae ultricies leo integer malesuada nunc vel risus. Fringilla urna porttitor rhoncus dolor purus non enim praesent.
volutpat. Sed risus pretium quam vulputate dignissim suspendisse in est ante. Vitae tortor condimentum lacinia quis vel eros. At varius vel pharetra vel turpis nunc.
</p>
<div class="" style="padding-top:30px">
  <a href="{{url_for('page1')}}">Go to page1</a>
</div>
{% endblock %}
