{% extends "layout.html" %}
{% block title %} Page 1{% endblock %}
{% block heading %}
First Page
{% endblock %}

{% block body %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Orci a scelerisque purus semper eget duis at tellus. In
arcu cursus euismod quis. Quisque sagittis purus sit amet volutpat consequat. Mattis aliquam faucibus purus in massa. Pharetra et ultrices neque ornare aenean euismod elementum nisi. At in tellus integer feugiat scelerisque varius morbi enim. Ipsum
consequat nisl vel pretium. Tristique senectus et netus et malesuada fames ac turpis egestas. Et malesuada fames ac turpis. Aliquet eget sit amet tellus cras adipiscing enim eu turpis. Commodo odio aenean sed adipiscing diam donec. Lacus luctus
accumsan tortor posuere ac ut. Et tortor consequat id porta nibh venenatis cras. Sit amet porttitor eget dolor morbi non arcu. Eget egestas purus viverra accumsan in nisl nisi.
</p><p>
Netus et malesuada fames ac. Eu scelerisque felis imperdiet proin fermentum. Duis convallis convallis tellus id. Lorem ipsum dolor sit amet consectetur adipiscing elit. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque.
Gravida dictum fusce ut placerat orci nulla. Dolor purus non enim praesent. Sit amet nulla facilisi morbi tempus iaculis urna. Elementum nisi quis eleifend quam. Arcu ac tortor dignissim convallis.
</p><p>
Quisque egestas diam in arcu cursus euismod quis viverra. At erat pellentesque adipiscing commodo elit at imperdiet. Massa vitae tortor condimentum lacinia. Consequat nisl vel pretium lectus quam id leo in vitae. Nulla pharetra diam sit amet nisl
suscipit adipiscing bibendum. In aliquam sem fringilla ut morbi tincidunt augue interdum. Bibendum arcu vitae elementum curabitur vitae nunc sed. Tempus urna et pharetra pharetra massa massa ultricies mi. Maecenas accumsan lacus vel facilisis
volutpat. Sed risus pretium quam vulputate dignissim suspendisse in est ante. Vitae tortor condimentum lacinia quis vel eros. At varius vel pharetra vel turpis nunc.
</p>
<div class="" style="padding-top:30px">
  <a href="{{url_for('page2')}}">Go to page2</a>
</div>
{% endblock %}
